
#meu-cabecalho .meu-cabecalho{
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 10 !important;
  background-color: #fff !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 16px !important;
}

#meu-cabecalho .meu-titulo {
  font-size: 24px !important;
  line-height: 1.2 !important;
  color: #fff !important;
  padding: 10px !important;
  text-align: center !important;
  flex-grow: 1 !important;
}

#meu-cabecalho .meu-botao {
  color: white !important;
  margin-right: 20px !important;
  cursor: pointer !important;
}

#meu-cabecalho .meu-menu {
  margin-top: 10px !important;
}

#meu-cabecalho .meu-item-menu {
  font-size: 16px !important;
  color: #333 !important;
}

