body {
    background: url(../../public/img/paroquias/minha-paroquia.jpg) center/cover fixed no-repeat;
  }
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */

  }
  
  .content-wrapper {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 748px;
    min-width: 300px;
    margin:  auto; 
  }
  .container {
    margin: 10px
  }

  input .tagify-input  {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1000px;
    text-align:center;
  }
  
  
  button {
    background-color: #007bff;
    color: #fff;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }